.boxy-wrapper { position: absolute; }
.boxy-wrapper.fixed { position: fixed; }
.boxy-wrapper * {
    font: 12px/1.4 Arial, Helvetica, sans-serif; color: #484848;
}

  /* Modal */
  
  .boxy-modal-blackout { position: absolute; background-color: black; left: 0; top: 0; }
  
  /* Border */

  .boxy-wrapper { empty-cells: show; }
	.boxy-wrapper .top-left,
	.boxy-wrapper .top-right,
	.boxy-wrapper .bottom-right,
	.boxy-wrapper .bottom-left { width: 10px; height: 10px; padding: 0 }
	
	.boxy-wrapper .top-left { background: url('../images/boxy-nw.png'); }
	.boxy-wrapper .top-right { background: url('../images/boxy-ne.png'); }
	.boxy-wrapper .bottom-right { background: url('../images/boxy-se.png'); }
	.boxy-wrapper .bottom-left { background: url('../images/boxy-sw.png'); }
	
	/* IE6+7 hacks for the border. IE7 should support this natively but fails in conjuction with modal blackout bg. */
	/* NB: these must be absolute paths or URLs to your images */
	.boxy-wrapper .top-left { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy-nw.png'); }
	.boxy-wrapper .top-right { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy-ne.png'); }
	.boxy-wrapper .bottom-right { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy-se.png'); }
	.boxy-wrapper .bottom-left { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/boxy-sw.png'); }
	
	.boxy-wrapper .top,
	.boxy-wrapper .bottom { height: 10px; background-color: black; opacity: 0.6; filter: alpha(opacity=60); padding: 0 }
	
	.boxy-wrapper .left,
	.boxy-wrapper .right { width: 10px; background-color: black; opacity: 0.6; filter: alpha(opacity=60); padding: 0 }
	
	/* Title bar */
	
	.boxy-wrapper .title-bar { background-color: black; padding: 6px; position: relative; }
	  .boxy-wrapper .title-bar.dragging { cursor: move; }
	    .boxy-wrapper .title-bar h2 { font-size: 12px; color: white; line-height: 1; margin: 0; padding: 0; font-weight: normal; }
	    .boxy-wrapper .title-bar .close { color: white; position: absolute; top: 6px; right: 6px; font-size: 90%; line-height: 1; }
		
	/* Content Region */
	
	.boxy-inner { background-color: white; padding: 0 }
	.boxy-content { padding: 15px; }
	
	/* Question Boxes */

    .boxy-wrapper .question { width: 350px; min-height: 80px; }
    .boxy-wrapper .answers { text-align: right; }

    /* Accept Decline Cancel Buttons */
    .button{
	padding: 5px;
	margin-left: 5px;
	margin-top: 10px;
	border: 1px solid #cccccc;
    }
    
    .marginT20px{
	margin-top: 20px !important;
    }
    .alignCenter{
	text-align: center;
    }

    /*dialog boxes*/  
    
    title-bar h1 { font-size: 180%; font-weight: bold; margin: 0 0 15px 0; border-bottom: 1px solid #a0a0a0; color: black; }
    title-bar h1 .subtitle { font-size: 75%; }

    title-bar h2 { font-size: 130%; font-weight: bold; margin: 1em 0 0.3em 0; color: black; }
    title-bar h3 { font-size: 115%; font-weight: bold; margin: 1em 0 0.3em 0; color: black; }

    .boxy-content p { margin: 0.7em 0 }

    .boxy-content a { color: #101010; text-decoration: none }
    .boxy-content a:hover { background-color: #505050; color: white; }

    .boxy-content ul, ol { margin: 0.7em 0 0.7em 2em; }
    .boxy-content li { display: list-item; list-style: disc; }
    