#message{
    margin: 1em 0em;    
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.30);
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.30);
}
.error_message {
    color: #666666;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #FFEBE8;
    border: medium none #DD3C10;    
}
.success_message {
    background-color: #ECFFD5;
    border: medium none #BAE09B;
}
.success_message p {
    font-size: 1em;
    padding-bottom: 0;
}
.messageBox {
    border-style: solid;
    border-width: 1px;
    padding: 0.833em;
}
.alignRight{
    text-align: right;
}
/*IE hacks*/
#message{
    margin-top: 2em\9 !important;/*ie 8 and below*/
}
