#fcWrapper{width:500px;}
#Finance_Widget{width:100%;}
#FinanceCalculator *{font:11px Verdana, Helvetica, Arial, sans-serif;color:#333;line-height:18px;}
#FinanceCalculator{width:100%;background:#F8F8F8;border:1px solid #535353;}
#FinanceTop{background-color:#535353;}
#FinanceTop *{font-size:12px;}
#FinanceTop label{color:#fff;}
#FinanceTop .pound{color:#0096FF;font-weight:700;font-size:14px;}
#FinanceMain label{font-weight:700;}
.price_entry{color:#0096FF!important;width:70px;padding:5px;}
.view_finance{padding:4px 8px;}
.repayment_value{font-weight:700!important;font-size:12px!important;margin:20px 0 10px;}
.fd_monthly{border-top:1px double #666;border-bottom:double #666;margin-top:17px;padding:2px 0;}
#FinanceType,#FinanceDeposit{width:100%;padding:4px;}
#FinanceTop,#FinanceMain{padding:10px;}
#FinanceCalculator select{margin-bottom:10px;}
#fc_leftColumn{float:left;width:48%;}
#FinanceMain ul{margin:0;padding:0;}
#FinanceMain ul li{list-style:none outside none;white-space:nowrap;overflow:hidden;}
#fc_rightColumn{float:right;width:48%;}
#FinanceCalculator .toggleBar{background-color:#535353;color:#FFF;padding:5px;}
#FinanceCalculator .MonthlyRepay,#FinanceCalculator .highlight{color:#0096FF;font-weight:700;}
#FinanceCalculator .toggle{color:#0096FF!important;border-bottom:1px dotted;font-weight:700;cursor:pointer;}
.toggleHover{border-bottom:1px solid!important;}
.boxy-wrapper{position:absolute;empty-cells:show;}
.boxy-wrapper.fixed{position:fixed;}
.boxy-wrapper *{font:12px/1.4 Arial, Helvetica, sans-serif;color:#484848;}
.boxy-modal-blackout{position:absolute;background-color:#000;left:0;top:0;}
.boxy-wrapper .top-left,.boxy-wrapper .top-right,.boxy-wrapper .bottom-right,.boxy-wrapper .bottom-left{width:10px;height:10px;padding:0;}
.boxy-wrapper .top-left{background:url(../images/boxy-nw.png);#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/boxy-nw.png');#background:url(../images/boxy-nw.png);}
.boxy-wrapper .top-right{background:url(../images/boxy-ne.png);#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/boxy-ne.png');#background:url(../images/boxy-ne.png);}
.boxy-wrapper .bottom-right{background:url(../images/boxy-se.png);#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/boxy-se.png');#background:url(../images/boxy-se.png);}
.boxy-wrapper .bottom-left{background:url(../images/boxy-sw.png);#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/boxy-sw.png');#background:url(../images/boxy-sw.png);}
.boxy-wrapper .top,.boxy-wrapper .bottom{height:10px;background-color:#000;opacity:0.6;filter:alpha(opacity=60);padding:0;}
.boxy-wrapper .left,.boxy-wrapper .right{width:10px;background-color:#000;opacity:0.6;filter:alpha(opacity=60);padding:0;}
.boxy-wrapper .title-bar{background-color:#000;position:relative;padding:6px;}
.boxy-wrapper .title-bar.dragging{cursor:move;}
.boxy-wrapper .title-bar h2{font-size:12px;color:#FFF;line-height:1;font-weight:400;margin:0;padding:0;}
.boxy-wrapper .title-bar .close{color:#FFF;position:absolute;top:6px;right:6px;font-size:90%;line-height:1;}
.boxy-inner{background-color:#FFF;padding:0;}
.boxy-content{padding:15px;}
.boxy-wrapper .question{width:350px;min-height:80px;}
.button{margin-left:5px;margin-top:10px;border:1px solid #ccc;padding:5px;}
.marginT20px{margin-top:20px!important;}
.alignCenter{text-align:center;}
title-bar h1{font-size:180%;font-weight:700;border-bottom:1px solid #a0a0a0;color:#000;margin:0 0 15px;}
title-bar h1 .subtitle{font-size:75%;}
title-bar h2{font-size:130%;font-weight:700;color:#000;margin:1em 0 .3em;}
title-bar h3{font-size:115%;font-weight:700;color:#000;margin:1em 0 .3em;}
.boxy-content p{margin:.7em 0;}
.boxy-content a{color:#101010;text-decoration:none;}
.boxy-content a:hover{background-color:#505050;color:#FFF;}
.boxy-content ul,ol{margin:.7em 0 .7em 1em;}
.boxy-content li{display:list-item;list-style:none;line-height:2em;}
.boxy-content .alert{display:none;}
.boxy-content input[type=checkbox]{margin-right:8px;}
.marginTB10px{margin:10px 0;}
.cursor{cursor:pointer;}
.shadow{box-shadow:0 0 15px rgba(0,0,0,0.4);-mox-box-shadow:0 0 15px rgba(0,0,0,0.4);-webkit-box-shadow:0 0 15px rgba(0,0,0,0.4);}
.group:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
html.group{height:1%;}
:first-child + html .group{min-height:1px;}
#message{box-shadow:0 2px 3px rgba(0,0,0,0.30);-moz-box-shadow:0 2px 3px rgba(0,0,0,0.30);-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.30);margin:2em 0 1em!important;}
.error_message{color:#666;font-weight:700;text-transform:uppercase;background-color:#FFEBE8;border:medium none #DD3C10;}
.success_message{background-color:#ECFFD5;border:medium none #BAE09B;}
.success_message p{font-size:1em;padding-bottom:0;}
.messageBox{border-style:solid;border-width:1px;padding:.833em;}
.messageBoxSmall{box-shadow:0 1px 2px rgba(0,0,0,0.20);border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;padding:.4em .4em .4em .8em;}
.boxy-wrapper .answers,.alignRight{text-align:right;}